<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand mb-0" href="/">
        <!-- <img src="/assets/ust.png" width="125" height="38" alt="UST Global"> -->
        <span><strong>Hyperledger <i class="far fa-registered"></i></strong> POC</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="mainMenu">
      <!--<ul class="nav navbar-nav">
          <li><a routerLink="/"><span><i class="fas fa-home"></i></span></a></li>
          <li><a routerLink="/input"><span><i class="fas fa-edit"></i></span></a></li>
      </ul>-->
  </div>
  </div>
</nav>